---
import config from "@/config/config.json";
import { markdownify } from "@/lib/utils/textConverter";
const { copyright } = config.params;
---

<footer class="pt-16 pb-16">
  <div class="container text-center">
    {/* copyright */}
    <p set:html={markdownify(copyright)} class="text-text" />
  </div>
</footer>
