// section style
.section {
  @apply py-24 xl:py-28;
  &-sm {
    @apply py-16 xl:py-20;
  }
}

// container
.container {
  @apply mx-auto max-w-[1320px] px-4;
}

// form style
.form-inputs * {
  @apply mb-5 leading-10;
}

.form-input,
.form-textarea {
  @apply border border-border bg-transparent py-3 px-5 placeholder:text-text/50 focus:border-border focus:bg-[#202e3c] focus:ring-transparent;
}

// social icons
.social-icons {
  @apply space-x-6;
  li {
    @apply inline-block;
    a {
      @apply flex text-2xl text-dark items-center justify-center text-center leading-9;
      svg {
        @apply transition
        duration-200 ease-in-out hover:scale-125;
      }
    }
  }
}

// notice
.notice {
  @apply mb-6 rounded-lg border px-8 py-6;
  &-head {
    @apply flex items-center;
    svg {
      @apply mr-3;
    }
    p {
      @apply font-secondary text-xl font-semibold text-dark;
    }
  }
  .notice-body {
    @apply mt-3;
    p {
      @apply my-0;
    }
  }

  &.note {
    @apply text-[#1B83E2];
    @apply border-current;
  }

  &.tip {
    @apply text-[#40D294];
    @apply border-current;
  }

  &.info {
    @apply text-[#E3A72C];
    @apply border-current;
  }

  &.warning {
    @apply text-[#DB2C23];
    @apply border-current;
  }
}

// tab
.tab {
  @apply overflow-hidden rounded-lg border border-border;
  &-nav {
    @apply flex border-b border-border;
    @apply m-0 #{!important};
    @apply list-none #{!important};

    &-item {
      @apply cursor-pointer border-b-[3px] border-border py-2 text-lg text-dark opacity-80;
      @apply my-0 #{!important};
      @apply px-8 #{!important};

      &.active {
        @apply border-b-[3px] border-dark opacity-100;
      }
    }
  }
  &-content {
    &-panel {
      @apply p-8;
      p {
        @apply mb-0;
      }
      &.active {
        @apply block;
      }
    }
  }
}

// accordion
.accordion {
  @apply mb-6 overflow-hidden rounded-lg border border-border;
  &-header {
    @apply flex w-full cursor-pointer items-center justify-between px-8 py-4 text-lg bg-[#2e3b47] text-dark;
  }
  &-icon {
    @apply ml-auto h-[.8em] w-[.8em] rotate-[-90deg] transition-transform duration-200;
  }
  &-content {
    @apply max-h-0 overflow-hidden px-8 py-0;
  }
  &.active {
    .accordion-icon {
      @apply rotate-0;
    }
    .accordion-content {
      @apply max-h-screen;
    }
  }
}

// content style
.content {
  @apply prose max-w-none;
  @apply prose-headings:mt-4 prose-headings:font-normal prose-headings:text-dark;
  @apply prose-h1:mb-4 prose-h1:text-h1-sm md:prose-h1:text-h1;
  @apply prose-h2:mb-4 prose-h2:text-h2-sm md:prose-h2:text-h2;
  @apply prose-h3:mt-4 prose-h3:text-h3-sm md:prose-h3:text-h3;
  @apply prose-h4:mt-4;
  @apply prose-h5:mb-4;
  @apply prose-h6:mb-6;
  @apply prose-hr:border-[#cbcbcb42]/25;
  @apply prose-p:text-text;
  @apply prose-img:rounded-lg;
  @apply prose-blockquote:rounded prose-blockquote:border-primary prose-blockquote:bg-[rgba(97,238,188,4%)] prose-blockquote:py-8 prose-blockquote:px-8 prose-blockquote:text-2xl prose-blockquote:not-italic prose-blockquote:leading-9 prose-blockquote:text-dark;
  @apply prose-code:inline-block prose-code:rounded-sm prose-code:px-4 prose-code:pb-4;
  @apply prose-strong:text-text;
  @apply prose-a:text-primary;
  @apply prose-li:text-text prose-li:marker:text-text;
  @apply prose-table:overflow-hidden prose-table:rounded prose-thead:border-border prose-thead:bg-[#2e3b47] prose-tr:border-none prose-th:p-3 prose-th:text-base prose-th:text-dark prose-td:p-3 prose-td:text-base prose-td:text-text;

  blockquote p {
    @apply my-0 text-[21px] leading-9 text-dark;
  }

  tbody {
    @apply bg-[#242e38];
  }
}
